body {
    color: blue;
    font-size: 12pt;
    font-family: arial;
    line-height: 2em;
}

p {
    width: 400px;
    text-align: justify;
    letter-spacing: 4px;
    text-indent: 20px;
}

h1 {
    color: red;
    font-size: 1,5em;
    font-family:Verdana;
    letter-spacing: 800;
}

h2 {
    color: green;
    font-size: 1,2em;
    font-family: garamond;
    font-style: italic;
}

strong {
    font-weight: normal;
    text-transform: uppercase;
}

em {
    font-style: normal;
    text-decoration: underline;
}

a:link {
    color: fuchsia;
}

a:active {
    color:mediumorchid;
}
a:visited {
    color: fuchsia;
}
a:hover {
    color: lime;
}
a:active {
    color:yellow;
}

.eliminado {
    text-decoration: line-through;
    color: purple;

}