h3 {
color: red;
text-align:left; 
font-size: 8pt;
}
h2 {
color: blue;
text-align:left; 
font-size: 8pt;
}
p {
color: green; 
font-size: 14pt;
}

ul{
    list-style-type: square;
}
ol{
    list-style-type: lower-alpha;
    list-style-image:url(recursos/vi%C3%B1eta.jpg)  
}
ul {
    list-style-position: outside
}
